#welcome{
	width:100%;
	padding:50px 0;	
	background:url(../images/bg-bem-vindo.jpg) no-repeat;
	background-size:cover;
}

.services{
	list-style:none;
	overflow:hidden;
	padding: 50px 0;
	background-color:#eeefff;
		.services-content{
			h3{
				font-size:30px;
				color:#022438;
			}
			
			li{
				padding:10px 0;
				font-size: 16px;
				margin-left:12px;
			}
			
			.btn{
				margin:10px 0px 0px 10px ;
			}
			
			
		}	
}

